.banco-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.bancolombia.com/wcm/connect/www.bancolombia.com-26918/113d8987-c158-44b3-9f0e-1990fe6dde1b/lines-productores-aplican.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_9O44G4S049MAD06H7SNS78IMS1-113d8987-c158-44b3-9f0e-1990fe6dde1b-ojAlfpX");
}

/* Caja central */
.banco-box {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
  text-align: center;
}

/* Título */
.banco-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Texto */
.banco-text {
  color: #333;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

/* Inputs clave */
.clave-inputs {
  display: flex;
  justify-content: space-between;

}

/* Acciones */
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-volver {
  border: 1px solid #000;
  background: #fff;
  color: #000;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.btn-volver:hover {
  background: #f5f5f5;
}

.btn-continuar {
  border: none;
  background: #FFD200;
  color: #000;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.btn-continuar:hover {
  background: #e6be00;
}

/* Footer */
.banco-footer {
  margin-top: 30px;
  font-size: 0.8rem;
  color: #333;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/* Loader circular */
.loader {
  border: 6px solid #f3f3f3; /* gris claro */
  border-top: 6px solid #e6be00; /* azul Bancolombia */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


